*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D5D5D5;
}

.music-select{
  width: 350px;
  height: 750px;
  background-color: #fff;
  padding: 0 25px;
  position: relative;
  border-radius: 30px;
  margin-top: 50px;
}

.music-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.artist{
  margin-bottom: 40px;
}

.artist-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0) 0px 7px 29px 0px;
}

.artist-name{
  margin-bottom: 10px;
}

.genre{
  opacity: 0.7;
}

.artist-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.shuffle-btn{
  background-color: #000;
  color: #fff;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 20px;
}

.favorit-btn{
  width: 110px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.favorit-count{
  margin-left: 10px;
  opacity: 0.7;
}

.music-list-item{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
 }

.music-list-item:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.list-item-column{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item-column:last-child{
  opacity: 0.5;
}

.list-img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.list-name{
  display: flex;
  flex-direction: column;
}

.list-subtitle{
  opacity: 0.5;
}

.playing-music{
  position: absolute;
  width: 300px;
  height: 70px;
  background-color: #0d0d0d;
  color: #fff;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  bottom: 20px;
}

.playing-name{
  display: flex;
  flex-direction: column;
}

.playing-subtitle{
  opacity: 0.6;
  font-size: 12px;
  margin-bottom: 4px;
}

.playing-title{
  font-size: 14px;
}

.playing-btn{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* now-playing */

.now-playing{
  width: 350px;
  height: 750px;
  background-color: #fff;
  padding: 0 20px;
  position: relative;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 100px;
  
}

.playing-index{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing-img{
  width: 225px;
  height: 225px;
  border-radius: 30px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0) 0px 7px 29px 0px;
}

.playing-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-title{
  margin-bottom: 10px;
}

.profile-subtitle{
  opacity: 0.3;
}

.now-time{
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  opacity: 0.4;
  margin-bottom: 10px;
}

.playing-bar{
  margin: 50px 0;
}

.music-bar{
   width: 280px;
  height: 4px;
  background-color: #D5D5D5;
  border-radius: 30px;
}

.playing-now{
  position: relative;
  width: 180px;
  height: 4px;
  background-color: #000;
  border-radius: 30px;
}

.playing-circle{
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  left: 180px;
  bottom: -2px;
}

.playing-buttons{
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-repeat, .fa-shuffle{
  opacity: 0.3;
}

.play-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}