#chat-screen{
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-screen .alt-header{
    position: fixed;
    background-color: #abc1d1;
}

#chat-screen .status-bar{
    z-index: 2;
}

.alt-header{
    position: fixed;
    width: 100%;
}

.main-chat{
    padding: 0 var(--horizontal-space);
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-timestamp{
    color: #fff;
    background-color: #92a4b2;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 25px;
}

.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-author{
    display: block;
    margin-bottom: 8px;
}

.message-info{
    display: flex;
    align-items: flex-end;
}

.message-bubble{
    background-color: #fff;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message-time, .message-author{
    opacity: 0.8;
    font-size: 13px;
}

.message-row-own{
    justify-content: flex-end;
}

.message-row-own .message-bubble{
    background-color: var(--yellow);
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    margin-left: 5px;
}

.message-row-own .message-info{
   flex-direction: row-reverse;
}



