.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: tomato;
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
}

.notice{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: tomato;
    position: absolute;
    right: -6px;
    top: -7px;
}